
.button-16 {
  touch-action: manipulation;
  all: unset;
  position: relative;
  border-radius: 50px;
  padding: 16px 24px;
  background-color: #f0f7fa;
  box-shadow: inset 0 -4px 8px #87bfd8, 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #0470e3;
  transition: transform 0.4s cubic-bezier(0.55, 1, 0.15, 1);
  will-change: transform;
}
.button-16:active {
  transform: scale(0.92);
}
.button-16:active::after {
  opacity: 1;
}
.button-16::after {
  content: "";
  position: absolute;
  inset: 0;
  border-image-source: url("https://csspro.com/css-3d-buttons/buttons-img/mario-button-borders.webp");
  border-image-slice: 50%;
  border-image-width: 40px;
  border-style: solid;
  transform: scale(1.04, 1.08);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1);
  will-change: transform;
}
.button-16:focus-visible::after {
  opacity: 1;
  animation: pulsate-16 2s infinite;
}

@keyframes pulsate-16 {
  0% {
    transform: scale(1.04, 1.08);
  }
  50% {
    transform: scale(1.08, 1.12);
  }
  100% {
    transform: scale(1.04, 1.08);
  }
}

.text{
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}
