
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    20%, 60% {
      transform: translateX(-5px);
    }
    40%, 80% {
      transform: translateX(5px);
    }
  }

  .vertical-bg{
    background-image: url(../../../assets/card/verticalCard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  