.signup-body {
  background-color: #080710;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -100px;
  top: -145px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -100px;
  bottom: -145px;
}
form {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: auto;
  width: 440px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  /* font-family: 'Poppins',sans-serif; */
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.btn-reg {
  margin-top: 10px;
  width: 100%;
  background-color: #c1b228;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.btn-reg:disabled{
  background-color: #c1b22859;
  cursor: not-allowed;
}
.social {
  margin-top: 20px;
  display: flex;
}
.social div {
  /* background: red; */
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
  cursor: pointer;
}
.social .fb {
  margin-left: 25px;
}
.go {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* .social i{
  margin-right: 4px;
} */
.terms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

.terms .terms-label {
  display: inline;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  color: #a88f8f;
}



input[type="checkbox"] {
  width: 15px;
  /* height: 20px; */
  cursor: pointer;
  accent-color: #4caf50;
  margin: 0 10px 0 0;
}
